.emoji-wrap, .emoji-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}

.emoji-wrap {
  justify-content: space-between;
  padding: 10px;
  box-shadow: 3px 4px 10px rgba(0,0,0,0.20);
  border-radius: 5px;
}

.emoji-title {
  color: #272727;
}

.emoji-symbol .emoji {
  font-size: 30px;
}